@model ExportFilesModel
@{
    ViewData["Title"] = "Generate PCP Assignment Json Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Generate PCP Assignment Json Files</h1>
    <form asp-action="GeneratePCPAJson">
        <p>
            <label>Destination Folder:</label>
            <input asp-for="@Model.sourcePath" type="text" size="60" readonly="readonly" />
        </p>
        <p></p>
        <p>
            <label>Total Records:</label>
            <input asp-for="@Model.totalDatabaseRecords" type="text" size="60" readonly="readonly" />
        </p>
        <p>
            Production / Test: <select asp-for="@Model.ProdTestFlag">
                <option value="1">Production</option>
                <option value="2">Test</option>
            </select>
        </p>
        <p>
            <input type="submit" value="Generate Files" class="btn btn-primary" />
        </p>
        <label>@Model.archivePath</label>
    </form>
</div>
